{% extends "vms/base.html" %}

{% block content %}
    <div class="spacer"></div>
    <form class="form-horizontal" action="" method="post">
        {% csrf_token %}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Clear Shift Hours</h3>
            </div>
            <div class="panel-body">
                Are you sure you want to clear these hours?
                <br>
                <br>
                <button class="btn btn-default" type="submit">Yes, Clear these Hours</button>
                <input type="button" class="btn btn-default" value="Return to Previous Page" onClick="javascript:history.go(-1);">
            </div>
        </div>
    </form>
{% endblock %}
