{% extends "administrator/settings.html" %}

{% block setting_content %}
    <div class="spacer"></div>
    <div class="well">
        <form class="form-horizontal" action="{% url 'organization:create' %}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Create Organization</legend>
                {% if form.name.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">Organization Name</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Organization Name" type="text" name="name" value="{% if form.name.value %}{{ form.name.value }}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.name.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">Organization Name</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Organization Name" type="text" name="name" value="{% if form.name.value %}{{ form.name.value }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
                <div class="form-group">
                    <div class="col-md-12 col-md-offset-2">
                        <button class="btn btn-primary" type="submit">Create</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
