<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Volunteer Management System</title>
    <!-- Bootstrap core CSS -->
    <!--<link href="../../static/vms/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="{% static "vms/bootstrap-lumen-theme/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom styling taken from Systers Portal -->
    <link href="{% static "vms/css/style.css" %}" rel="stylesheet">
    <link href="{% static "vms/jquery-ui-1.11.4.custom/jquery-ui.min.css" %}" rel="stylesheet">
    <link href="{% static "vms/jquery-ui-1.11.4.custom/jquery-ui.structure.min.css" %}" rel="stylesheet">
    <link href="{% static "vms/jquery-ui-1.11.4.custom/jquery-ui.theme.min.css" %}" rel="stylesheet">
    <script src="{% static "vms/jquery/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "vms/bootstrap-3.2.0-dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "vms/jquery-ui-1.11.4.custom/jquery-ui.min.js" %}"></script>
    <script src="{% static "vms/jquery-custom/activate-datepicker.js" %}"></script>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home:index' %}">Systers</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav text-uppercase">
                    <li><a href="#">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right text-uppercase">
                    {% if user.is_authenticated %}
                        {% if user.administrator %}
                            <li><a href="{% url 'volunteer:search' %}">Volunteer Search</a></li>
                            <li><a href="{% url 'shift:volunteer_search' %}">Manage Volunteer Shifts</a></li>
                            <li><a href="{% url 'administrator:report' %}">Report</a></li>
                            <li><a href="{% url 'administrator:settings' %}">Settings</a></li>
                            <li><a href="{% url 'registration:signup_administrator' %}">Create Admin Account</a></li>
                        {% endif %}
                        {% if user.volunteer %} 
                            <li><a href="{% url 'shift:view_volunteer_shifts' user.volunteer.id %}">Upcoming Shifts</a></li>
                            <li><a href="{% url 'shift:view_hours' user.volunteer.id %}">Shift Hours</a></li>
                            <li><a href="{% url 'event:list_sign_up' user.volunteer.id %}">Shift Sign Up</a></li>
                            <li><a href="{% url 'volunteer:report' user.volunteer.id %}">Report</a></li>
                            <li><a href="{% url 'volunteer:profile' user.volunteer.id %}">Profile</a></li>
                        {% endif %}
                        <li><a href="{% url 'authentication:logout_process' %}">Log Out</a></li>
                    {% else %}
                        <li><a href="{% url 'registration:signup_volunteer' %}">Sign Up</a></li>
                        <li><a href="{% url 'authentication:login_process' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
