{% extends "vms/base.html" %}

{% block content %}
    <form class="login form-signin" role="form" method="POST" action="{% url 'authentication:login_process' %}">
        {% csrf_token %}
        <h2>Please sign in</h2>
        <hr>
        {% if is_invalid_credentials %}
            <div class="alert alert-danger">
                The username and/or password you specified are not correct.
            </div>
        {% endif %}
        {% if authentication_form.username.errors %}
            <div id="div_id_login" class="form-group has-error">
                <label for="id_login" class="control-label requiredField">
                    Username<span class="asteriskField">*</span>
                </label>
                <div class="controls">
                    <input class="textinput textInput form-control" id="id_login" name="username" placeholder="Username" type="text" autofocus="autofocus" value="{{ authentication_form.username.value }}">
                    <p class="help-block">
                        <strong>
                            {% for error in authentication_form.username.errors %}
                                {{ error }}
                            {% endfor %}
                        </strong>
                    </p>
                </div>
            </div>
        {% else %}
            <div id="div_id_login" class="form-group">
                <label for="id_login" class="control-label requiredField">
                    Username<span class="asteriskField">*</span>
                </label>
                <div class="controls">
                    <input class="textinput textInput form-control" id="id_login" name="username" placeholder="Username" type="text" autofocus="autofocus" value="{% if authentication_form.username.value %}{{ authentication_form.username.value }}{% endif %}">
                </div>
            </div>
        {% endif %}
        {% if authentication_form.password.errors %}
            <div id="div_id_password" class="form-group has-error">
                <label for="id_password" class="control-label" requiredField>
                    Password<span class="asteriskField">*</span>
                </label>
                <div class="control">
                    <input class="textinput textInput form-control" id="id_password" name="password" placeholder="Password" type="password">
                </div>
                <p class="help-block">
                    <strong>
                        {% for error in authentication_form.password.errors %}
                            {{ error }}
                        {% endfor %}
                    </strong> 
                </p>
            </div>
        {% else %}
            <div id="div_id_password" class="form-group">
                <label for="id_password" class="control-label" requiredField>
                    Password<span class="asteriskField">*</span>
                </label>
                <div class="control">
                    <input class="textinput textInput form-control" id="id_password" name="password" placeholder="Password" type="password">
                </div>
            </div>
        {% endif %}
        <button class="primaryAction btn btn-lg btn-primary btn-block" type="submit">
            Sign In
        </button>
    </form>
{% endblock %}
