{% extends "vms/base.html" %}

{% block content %}
    <form action="{% url 'job:cancel_shift' shift_id volunteer_id %}" method="post">
        {% csrf_token %}
        <div class="ui icon message">
            <i class="attention icon"></i>
            <div class="content">
                <br>
                <div class="header">
                    Cancel Shift Confirmation
                </div>
                <p>Are you sure you want to cancel this shift you are signed up for?</p>
                <br>
                <button class="ui small green button" type="submit">Yes, Cancel this Shift</button>
                <a class="ui small button" href="{% url 'job:view_volunteer_shifts' volunteer_id %}">No</a>
            </div>
        </div>
    </form>
{% endblock %}
