{% extends "vms/base.html" %}

{% block content %}
    <form action="{% url 'job:sign_up' %}" method="post">
        {% csrf_token %}
        <div class="ui icon message">
            <i class="attention icon"></i>
            <div class="content">
                <br>
                <div class="header">
                    Job Sign Up Confirmation
                </div>
                <p>Are you sure that you want to sign up for this job?</p>
                <br>
                <button class="ui small green button" type="submit" name="job_id" value="{{ id }}">Yes, Sign Up for this Job</button>
                <a class="ui small button" href="{% url 'job:list' %}">Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}
