{% extends "vms/base.html" %}

{% block content %}
    <form action="{% url 'job:shift_sign_up' shift_id %}" method="post">
        {% csrf_token %}
        <div class="ui icon message">
            <i class="attention icon"></i>
            <div class="content">
                <br>
                <div class="header">
                    Shift Sign Up Confirmation
                </div>
                <p>Are you sure that you want to sign up for this shift?</p>
                <br>
                <button class="ui small green button" type="submit">Yes, Sign Up for this Shift</button>
                <a class="ui small button" href="{% url 'job:list_jobs' %}">Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}
