{% extends "vms/base.html" %}

{% block content %}
    {% if registered %}
        <h1>Thank you for registering!</h1>
    {% else %}
        <h3 class="ui black block header">
            VMS Registration
        </h3>
        <form method="post" action="{% url 'auth:register_volunteer' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="ui form segment">
                <div class="field">
                    <label>Username</label>
                    <div class="ui input">
                        <input placeholder="Username" type="text" name="usr-username">
                    </div>
                </div>
                <div class="field">
                    <label>Password</label>
                    <div class="ui input">
                        <input placeholder="Password" type="password" name="usr-password">
                    </div>
                </div>                   
                <div class="field">
                    <label>About</label>
                    <div class="ui input">
                        {% if volunteeer_form.description.value %}
                            <textarea placeholder="Include a short biography about yourself" name="vol-description">{{ volunteeer_form.description.value }}</textarea>
                        {% else %}
                            <textarea placeholder="Include a short biography about yourself" name="vol-description"></textarea>
                        {% endif %}
                        {% if volunteeer_form.description.errors %}
                            <div class="ui red pointing above ui label">Enter a valid biography</div>
                        {% endif %}
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>First Name</label>
                        <div class="ui input">
                            {% if volunteeer_form.first_name.value %}
                                <input placeholder="First Name" type="text" name="vol-first_name" value="{{ volunteeer_form.first_name.value }}">
                            {% else %}
                                <input placeholder="First Name" type="text" name="vol-first_name">
                            {% endif %}
                            {% if volunteeer_form.first_name.errors %}
                                <div class="ui red pointing above ui label">Enter a valid first name</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="field">
                        <label>Last Name</label>
                        <div class="ui input">
                            {% if volunteeer_form.last_name.value %}
                                <input placeholder="Last Name" type="text" name="vol-last_name" value="{{ volunteeer_form.last_name.value }}">
                            {% else %}
                                <input placeholder="Last Name" type="text" name="vol-last_name">
                            {% endif %}
                            {% if volunteeer_form.last_name.errors %}
                                <div class="ui red pointing above ui label">Enter a valid last name</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Address</label>
                    <div class="ui input">
                        {% if volunteeer_form.address.value %}
                            <input placeholder="Address" type="text" name="vol-address" value="{{ volunteeer_form.address.value }}">
                        {% else %}
                            <input placeholder="Address" type="text" name="vol-address">
                        {% endif %}
                        {% if volunteeer_form.address.errors %}
                            <div class="ui red pointing above ui label">Enter a valid address</div>
                        {% endif %}
                    </div>
                </div>
                <div class="field">
                    <label>City</label>
                    <div class="ui input">
                        {% if volunteeer_form.city.value %}
                            <input placeholder="City" type="text" name="vol-city" value="{{ volunteeer_form.city.value }}">
                        {% else %}
                            <input placeholder="City" type="text" name="vol-city">
                        {% endif %}
                        {% if volunteeer_form.city.errors %}
                            <div class="ui red pointing above ui label">Enter a valid city</div>
                        {% endif %}
                    </div>
                </div>
                <div class="field">
                    <label>State/Province</label>
                    <div class="ui input">
                        {% if volunteeer_form.state.value %}
                            <input placeholder="State/Province" type="text" name="vol-state" value="{{ volunteeer_form.state.value }}">
                        {% else %}
                            <input placeholder="State/Province" type="text" name="vol-state">
                        {% endif %}
                        {% if volunteeer_form.state.errors %}
                            <div class="ui red pointing above ui label">Enter a valid state/province</div>
                        {% endif %}
                    </div>
                </div>
                <div class="field">
                    <label>Country</label>
                    <div class="ui input">
                        {% if volunteeer_form.country.value %}
                            <input placeholder="Country" type="text" name="vol-country" value="{{ volunteeer_form.country.value }}">
                        {% else %}
                            <input placeholder="Country" type="text" name="vol-country">
                        {% endif %}
                        {% if volunteeer_form.country.errors %}
                            <div class="ui red pointing above ui label">Enter a valid country</div>
                        {% endif %}
                    </div>
                </div>
                <div class="field">
                    <label>Phone Number</label>
                    <div class="ui input">
                        {% if volunteeer_form.phone_number.value %}
                            <input placeholder="Phone Number" type="text" name="vol-phone_number" value="{{ volunteeer_form.phone_number.value }}">
                        {% else %}
                            <input placeholder="Phone Number" type="text" name="vol-phone_number">
                        {% endif %}
                        {% if volunteeer_form.phone_number.errors %}
                            <div class="ui red pointing above ui label">Enter a valid phone number</div>
                        {% endif %}
                    </div>
                </div>
                <div class="field">
                    <label>Select your organization:</label>
                    <select name="organization_name">
                        <option value="0">-- Select --</option>
                        {% for organization in organization_list %}
                        <option value="{{ organization.id }}">{{ organization.organization_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <label>If your organization is not listed, please provide it here:</label>
                    <div class="ui input">
                        {% if volunteeer_form.unlisted_organization.value %}
                            <input placeholder="Organization" type="text" name="vol-unlisted_organization" value="{{ volunteeer_form.unlisted_organization.value }}">
                        {% else %}
                            <input placeholder="Organization" type="text" name="vol-unlisted_organization">
                        {% endif %}
                        {% if volunteeer_form.unlisted_organization.errors %}
                            <div class="ui red pointing above ui label">Enter a valid organization</div>
                        {% endif %}
                    </div>
                </div>
                <div class="field">
                    <label>Email</label>
                    <div class="ui input">
                        {% if volunteeer_form.email.value %}
                            <input placeholder="Email" type="text" name="vol-email" value="{{ volunteeer_form.email.value }}">
                        {% else %}
                            <input placeholder="Email" type="text" name="vol-email">
                        {% endif %}
                        {% if volunteeer_form.email.errors %}
                            <div class="ui red pointing above ui label">Enter a valid email address</div>
                        {% endif %}
                    </div>
                </div>
                <div class="field">
                    <label>Profiles</label>
                    <div class="ui input">
                        {% if volunteeer_form.websites.value %}
                            <textarea placeholder="Include links to any online profiles here" name="vol-websites">{{ volunteeer_form.websites.value }}</textarea>
                        {% else %}
                            <textarea placeholder="Include links to any online profiles here" name="vol-websites"></textarea>
                        {% endif %}
                        {% if volunteeer_form.websites.errors %}
                            <div class="ui red pointing above ui label">Enter valid online profiles</div>
                        {% endif %}
                    </div>
                </div>
                <div class="field">
                    <label>Upload a Resume</label>
                    {{ volunteer_form.resume_file }}
                    {% if volunteeer_form.resume_file.errors %}
                        <div class="ui red pointing left ui label">Upload a valid resume</div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>Resume</label>
                    <div class="ui input">
                        {% if volunteeer_form.resume.value %}
                            <textarea placeholder="Include your resume here" name="vol-resume">{{ volunteeer_form.resume.value }}</textarea>
                        {% else %}
                            <textarea placeholder="Include your resume here" name="vol-resume"></textarea>
                        {% endif %}
                        {% if volunteeer_form.resume.errors %}
                            <div class="ui red pointing above ui label">Enter a valid resume</div>
                        {% endif %}
                    </div>
                </div>
                <button type="submit" class="ui blue button">Register</button>
                <button type="reset" class="ui button">Clear</button>
            </div>
        </form>
    {% endif %}
{% endblock %}

