{% extends "vms/base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="ui icon success message">
            <i class="checkmark icon"></i>
            <div class="content">
                <div class="header">
                    Welcome {{ user.volunteer.first_name }}! You have successfully logged in! 
                </div>
            </div>
        </div>
    {% else %}
        <div class="ui icon error message">
            <i class="attention icon"></i>
            <div class="content">
                <div class="header">
                    There was an error logging in!
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
