{% extends "vms/base.html" %}

{% block content %}
    <h3 class="ui black block header">
        Login
    </h3>
    <form method="post" action="{% url 'rango:user_login' %}">
        {% csrf_token %}
        <div class="ui form segment">
            <div class="field">
                <input placeholder="Username" type="text" name="username">
            </div>
            <div class="field">
                <input placeholder="Password" type="password" name="password">
            </div>
            <button type="submit" class="ui blue button">Login</button>
        </div>
    </form>
{% endblock %}
