{% extends "mysite/base.html" %}

{% block content %}
    <div class="ui fluid form segment">
        <h2 class="ui top attached header">
            VMS Registration
        </h2>
        {% if registered %}
            <strong>Thank you for registering!</strong>
            <a href="/rango/">Return to homepage</a>
            <br>
        {% else %}
            <strong>Register here!</strong>
            <br>

            <form id="user_form" method="post" action="{% url 'rango:register' %}" enctype="mutipart/form-data">
                {% csrf_token %}
                <div class="ui segment attached">
                    <div class="field">
                        <input placeholder="Username" type="text" name="username">
                    </div>
                    <div class="field">
                        <input placeholder="Email" type="text" name="email">
                    </div>
                    <div class="field">
                        <input placeholder="Password" type="text" name="password">
                    </div>
                    <div class="field">
                        <input placeholder="Website" type="text" name="website">
                    </div>
                    <div class="field">
                        <label>Picture</label>
                        <input type="file" name="picure">
                    </div>
                    <button type="submit" class="ui blue button">Register</button>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}

