<!DOCTYPE html>
<html>

    <head>
        <title>VMS</title>
    </head>

    <body>
        <h1>VMS Homepage</h1>
	<a href="/AdminUnit/register/">Register Here</a> <br />
	{% if user.is_authenticated %}
	<a href="/AdminUnit/event/">Create Event</a> <br />
	<a href="/AdminUnit/allEvents/">All Events</a> <br />
	<a href="/AdminUnit/assignJob/">Assign Job</a> <br />
	<a href="/AdminUnit/allAssignedJobs/">All Assigned Jobs</a> <br />
	<a href="/AdminUnit/logout/">Logout</a>
	{% else %}
	<a href="/AdminUnit/login/">Login</a> <br/>
	{% endif %}
    </body>

</html>

