<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Link to the Bootstrap CSS from a CDN -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <title> VMS </title>
    <style>
	    th,td{
		    padding-left : 5%;
	    }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">VMS: Lists of All Jobs</h3>
      </div>
       <div class="row" style="padding:20px;">
	       <table>
		       <tr>
		 		<th> Event Name </th>
		 		<th> Job Description </th>
		 		<th> Volunteers Assigned </th>
		 		<th> Start Date </th>
		 		<th> End Date </th>
		 		<th> Edit </th>
		 		<th> Delete </th>
			</tr>

			{% for job in allJobs %}
			<tr>
				<td> {{ job.event.eventName }} </td>
				<td> {{ job.jobDescription }} </td>
				<td> {{ job.noOfVolunteersAssigned }} </td>
				<td> {{ job.startDate }} </td>
				<td> {{ job.endDate }} </td>
				<td> <a href="/AdminUnit/job/{{ job.pk }}/">Edit</a> </td>
				<td> <a href="/AdminUnit/deleteJob/{{ job.pk }}/">Delete</a> </td>
			</tr>
			{% endfor %}
		</table>
      </div>
    </div>
  </body>
</html>
