<!DOCTYPE html>
<html>
    <head>
    	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
        <title>VMS</title>
    </head>

    <body>
        <h1>VMS Homepage</h1>
	<a href="/AdminUnit/register/">Register</a> <br />
	{% if user.is_authenticated %}
	<a href="/AdminUnit/event/">Create Event</a> <br />
	<a href="/AdminUnit/allEvents/">All Events</a> <br />
	<a href="/AdminUnit/job/">Create Job</a> <br />
	<a href="/AdminUnit/allJobs/">All Jobs</a> <br />
	<a href="/AdminUnit/org/">Create Organization</a> <br />
	<a href="/AdminUnit/allOrgs/">All Organizations</a> <br />
	<a href="/AdminUnit/shift/">Create Shift</a> <br />
	<a href="/AdminUnit/allShifts/">All Shifts</a> <br />
	<a href="/AdminUnit/searchByEvent/">Search Job By Event</a> <br />
	<a href="/AdminUnit/searchByTime/">Search Job By Time</a> <br />
	<a href="/AdminUnit/searchByOrg/">Search Employee By Org</a> <br />
	<a href="/AdminUnit/reportHoursByOrg/">Report Hours By Org</a> <br />
	<a href="/AdminUnit/reportHoursByEvent/">Report Hours By Event</a> <br />
	<a href="/AdminUnit/reportHoursByTime/">Report Hours By Time</a> <br />
	<a href="/AdminUnit/reportVolunteersByOrg/">Report Volunteers By Org</a> <br />
	<a href="/AdminUnit/logout/">Logout</a>
	{% else %}
	<a href="/AdminUnit/login/">Login</a> <br/>
	{% endif %}
    </body>

</html>
