<!DOCTYPE html>
<html>
    <head>
    	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
        <title>VMS</title>
    </head>

    <body>
        <h1>Login to VMS</h1>

        <form id="login_form" method="post" action=".">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="Submit" />
        </form>

    </body>
</html>
