<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Link to the Bootstrap CSS from a CDN -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <title> VMS </title>
    <style>
	    th,td{
		    padding-left : 5%;
	    }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">VMS: Lists of All SATs</h3>
      </div>
       <div class="row" style="padding:20px;">
	       <table>
		       <tr>
		 		<th> Shift Name </th>
		 		<th> Start Time </th>
		 		<th> End Time </th>
		 		<th> Assigned Hours </th>
			</tr>

			{% for sat in sats %}
			<tr>
				<td> {{ sat.shift }} </td>
				<td> {{ sat.startTime }} </td>
				<td> {{ sat.endTime }} </td>
				<td> {{ sat.hours }} </td>
			</tr>
			{% endfor %}
		</table>
      </div>
    </div>
  </body>
</html>
