<!DOCTYPE html>
<html>
    <head>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
        <title>VMS</title>
    </head>

    <body>
{% load googlecharts %}
{# container #}
<div id="out"></div>
{% googlecharts %}
    {# named data and options can be reused #}
    {% data values "out_data" %}
        {% col "string" "Name" %}"{{ val }}"{% endcol %}
        {% col "number" "Value" %}{{ val }}{% endcol %}
    {% enddata %}
    {# you can also use global javascript variables here, #}
    {# and call functions #}
    {% options "out_options" %}
        kind: "PieChart",
        options: {
            width: 500,
            height: 400
        }
    {% endoptions %}
    {# chart is assembled from container, data and options #}
    {% graph "out" "out_data" "out_options" %}
{% endgooglecharts %}
    </body>
</html>
