<!DOCTYPE html>
<html>
	<head>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
		<title>VMS</title>
		<style>
			tr,td,th{
				padding-left: 10%;
			}
		</style>
	</head>

	<body>
		<div class="container" >
			{% load googlecharts %}
			{# container #}
			<div id="out"></div>
			{% googlecharts %}
			{# named data and options can be reused #}
			{% data values "out_data" %}
			{% col "string" "Name" %}"{{ val }}"{% endcol %}
			{% col "number" "Value" %}{{ val }}{% endcol %}
			{% enddata %}
			{# you can also use global javascript variables here, #}
			{# and call functions #}
			{% options "out_options" %}
			kind: "PieChart",
			options: {
			width: 500,
			height: 400
			}
			{% endoptions %}
			{# chart is assembled from container, data and options #}
			{% graph "out" "out_data" "out_options" %}
			{% endgooglecharts %}
			{% for key, value in details.items %}
			<b> {{ key }} </b>
			<hr />
			<table>
				<tr>
					<th> Volunteer Username </th>
					<th> Volunteer Email </th>
					<th> Volunteer Phone </th>
				</tr>
				{% for user in value %}
				<tr>
					<td> {{ user.user.username }} </td>
					<td> {{ user.user.email }} </td>
					<td> {{ user.phone }} </td>
				</tr>
				{% endfor %}
			</table>
			<br/>
			{% endfor %}
		</div>
	</body>
</html>
