<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
		<title>VMS</title>
		<style>
			th,td{
				padding-left : 5%;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="header">
				{% if selectTimeForm  %}
				<h3 class="text-muted">VMS: Select Time</h3>
				{% else %}
				<h3 class="text-muted">VMS: List of Shifts</h3>
				{% endif %}
			</div>
			<div class="row" style="padding:20px;">
				{% if selectTimeForm  %}
				<form role="form" action="." method="post">
					{% csrf_token %}           
					{% if SelectTimeForm.non_field_errors %}
					<p class="error">
					{% for error in selectTimeForm.non_field_errors %}
					{{ error }}
					{% endfor %}
					</p>
					{% endif %}
					{% for field in selectTimeForm %}
					<div class="form-group">
						{{ field.label_tag }}
						{% if field.field.required %}
						*
						{% endif %}
						<br/>
						{{ field }}
						{% if field.errors %}
						<p class="error">
						{% for error in field.errors %}
						{{ error }}
						{% endfor %}
						</p>
						{% endif %}
					</div>
					{% endfor %}

					<input type="submit" class="btn btn-default" value="Submit" />
				</form>
				{% else %}
				<table>
					<tr>
						<th> Event Name </th>
						<th> Job Name </th>
						<th> Job Description </th>
						<th> Shift Start Time </th>
						<th> Shift End Time </th>
						<th> Have Time ? </th>
					</tr>

					{% for shift in shifts %}
					<tr>
						<td> {{ shift.event.eventName }} </td>
						<td> {{ shift.job.jobName }} </td>
						<td> {{ shift.job.jobDescription }} </td>
						<td> {{ shift.startTime }} </td>
						<td> {{ shift.endTime }} </td>
						<td> <a href="/AdminUnit/createSat/{{ shift.pk }}/{{ user.username }}">Volunteer</a> </td>
					</tr>
					{% endfor %}
				</table>
				{% endif %}
			</div>
		</div>
	</body>
</html>

