<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
		<title> VMS </title>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<h3 class="text-muted">VMS: Create WLT Entry</h3>
			</div>
			<div class="row" style="padding:20px;">
				<form role="form" action="." method="post">
					{% csrf_token %}           
					{% if WLTForm.non_field_errors %}
					<p class="error">
					{% for error in wltForm.non_field_errors %}
					{{ error }}
					{% endfor %}
					</p>
					{% endif %}
					{% for field in wltForm %}
					<div class="form-group">
						{{ field.label_tag }}
						{% if field.field.required %}
						*
						{% endif %}
						<br/>
						{{ field }}
						{% if field.errors %}
						<p class="error">
						{% for error in field.errors %}
						{{ error }}
						{% endfor %}
						</p>
						{% endif %}
					</div>
					{% endfor %}
					{{ wltForm.non_field_errors }}
					<input type="submit" class="btn btn-default" value="Submit" />
				</form>
			</div>
		</div>
	</body>
</html>
